<div class="container">
  <div id="custom-audiences" data-path="<%= data_source_ad_accounts_custom_audience_path(params[:id]) %>">
  </div>

  <%= link_to "Back to Ad Accounts listing", ad_accounts_path %>

</div>