<div class="modal fade" id="upload-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= form_for :add_workflow_ids_to_custom_audience,
        method: :post,
        url: data_source_ad_accounts_custom_audiences_workflows_path do |f|
      %>
        <div class="modal-header">
          <h5 class="modal-title"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= f.text_field :workflow_ids %>
          <%= f.hidden_field :custom_audience_id %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  $('#upload-modal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget); // Button that triggered the modal
    var id = button.data('id'); // Extract info from data-* attributes
    var workflowIds = button.data("workflow-ids");
    var modal = $(this);
    modal.find('.modal-title').text('Add Workflow IDs to Custom Audience ' + id);
    modal.find('.modal-body #add_workflow_ids_to_custom_audience_workflow_ids').val(workflowIds);
    modal.find('.modal-body #add_workflow_ids_to_custom_audience_custom_audience_id').val(id);

  })
</script>
